{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title  = "Settings"|t('estimator-wizard') %}
{% set actionUrl = 'estimator-wizard/settings/save-settings' %}
{% set settings = settings ?? plugin.getSettings() %}

{% set fullPageForm = true %}

{% block head %}
    {{ parent() }}
{% endblock %}


{% set crumbs = [
    { label: "Settings"|t('estimator-wizard'), url: url('estimator-wizard/settings/general') }
] %}

{% set selectedSidebarItem = craft.app.request.getSegment(3) %}

{% set sidebar %}

    <nav class="last">
        <ul>
            <li><a href="{{ cpUrl('estimator-wizard/settings/index') }}"
                    {% if selectedSidebarItem == 'general' %}class="sel"{% endif %}>{{ "General"|t('estimator-wizard') }}</a>
            </li>

            <li><a href="{{ url('estimator-wizard/settings/lead-statuses') }}"
                    {% if selectedSidebarItem == 'leadstatuses' %}class="sel"{% endif %}>{{ "Lead Statuses"|t('estimator-wizard') }}</a>
            </li>
        </ul>
    </nav>

{% endset %}

{% set content %}
    <input type="hidden" name="action" value="{{ actionUrl }}" />
    <input type="hidden" name="redirect" value="{{ 'estimator-wizard/settings/general'|hash }}">

    {{ forms.textField({
        label: 'Email Leads To',
        instructions: 'Comma separated list of email addresses.',
        id: 'emailTo',
        name: 'settings[emailTo]',
        value: settings['emailTo']})
    }}

    {{ forms.textField({
        label: 'Zip Codes',
        instructions: 'Comma separated list of zip codes for lead contact validation.',
        id: 'zipCodes',
        name: 'settings[zipCodes]',
        value: settings['zipCodes']})
    }}
{% endset %}