{% requireAdmin %}
{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title  = "Settings"|t('estimator-wizard') %}
{% set bodyClass = craft.app.request.getSegments()|slice(0, 3)|join(' ') %}

{% set subnav = {
    leads: {
        label: "Leads"|t('estimator-wizard'),
        url: cpUrl('estimator-wizard/leads')
    }
} %}

{% if currentUser.admin %}
    {% set subnav = subnav|merge({
        settings: {
            label: "Settings"|t('estimator-wizard'),
            url: cpUrl('estimator-wizard/settings')
        }
    }) %}
{% endif %}

{% set selectedSubnavItem = craft.app.request.getSegment(2) %}
{% set selectedSidebarItem = craft.app.request.getSegment(3) %}

{% set sidebar %}

    <nav class="last">
        <ul>
            <li><a href="{{ cpUrl('estimator-wizard/settings/index') }}"
                    {% if selectedSidebarItem == 'general' %}class="sel"{% endif %}>{{ "General"|t('estimator-wizard') }}</a>
            </li>

            <li><a href="{{ url('estimator-wizard/settings/leadstatuses') }}"
                    {% if selectedSidebarItem == 'leadstatuses' %}class="sel"{% endif %}>{{ "Lead Statuses"|t('estimator-wizard') }}</a>
            </li>

        </ul>
    </nav>

{% endset %}

{# {% do view.registerAssetBundle("leaplogic\\estimatorwizard\\assetbundles\\estimatorwizard\\EstimatorWizardAsset") %} #}
{% set content %}
{{ forms.textField({
    label: 'Email Leads To',
    instructions: 'Comma separated list of email addresses.',
    id: 'emailTo',
    name: 'emailTo',
    value: settings['emailTo']})
}}

{{ forms.textField({
    label: 'Zip Codes',
    instructions: 'Comma separated list of zip codes for lead contact validation.',
    id: 'zipCodes',
    name: 'zipCodes',
    value: settings['zipCodes']})
}}
{% endset %}