{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title  = "Settings"|t('estimator-wizard') %}
{% set bodyClass = craft.app.request.getSegments()|slice(0, 3)|join(' ') %}
{% set settings = settings ?? plugin.getSettings() %}
{% set fullPageForm = false %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% set crumbs    = [
    { label: "Settings"|t('estimator-wizard'), url: url('estimator-wizard/settings/general') },
    { label: "Lead Statuses"|t('estimator-wizard'), url: url('estimator-wizard/settings/lead-statuses') }
] %}

{% set selectedSidebarItem = craft.app.request.getSegment(3) %}

{% set sidebar %}
    <nav class="last">
        <ul>
            <li><a href="{{ cpUrl('estimator-wizard/settings/general') }}"
                {% if selectedSidebarItem == 'general' %}class="sel"{% endif %}>{{ "General"|t('estimator-wizard') }}</a>
            </li>

            <li><a href="{{ url('estimator-wizard/settings/lead-statuses') }}"
                {% if selectedSidebarItem == 'lead-statuses' %}class="sel"{% endif %}>{{ "Lead Statuses"|t('estimator-wizard') }}</a>
            </li>
        </ul>
    </nav>
{% endset %}

{% block actionButton %}
   <a href="{{ cpUrl('estimator-wizard/settings/lead-statuses/new') }}" class="btn submit add icon">{{ "New Lead Status"|t('estimator-wizard') }}</a>
{% endblock %}

{% set content  %}

{% set tableData = [] %}
{% if leadStatuses|length %}
    {% for leadStatus in leadStatuses %}

        {% set cpEditUrl = cpUrl('estimator-wizard/settings/lead-statuses/' ~ leadStatus.id) %}
        {% set showDelete = leadStatus.isDefault or leadStatus.handle == 'spam' ? false : true %}

        {% set tableData = tableData|merge([{
            id: leadStatus.id,
            labelHtml: {
                url: cpEditUrl,
                color: leadStatus.color,
                name: leadStatus.name
            },
            title: leadStatus.name|t('estimator-wizard')|e,
            url: cpEditUrl,
            handle: leadStatus.handle,
            isDefault: leadStatus.isDefault,
            _showDelete: showDelete
        }]) %}

    {% endfor %}
{% endif %}

<h2>{{ "Lead Statuses"|t('estimator-wizard') }}</h2>
<p>{{ "Define the statuses that can be set on lead estimates once they’ve been completed."|t('estimator-wizard') }}</p>

<div id="lead-statuses-admin-table"></div>

{% endset %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}


{% js %}
    var columns = [
    {
    name: 'labelHtml',
    title: Craft.t('estimator-wizard', 'Name'),
    callback: function(value) {
    return '<a class="cell-bold estimatorWizardStatusLabel" href="' + value.url + '"><span class="status ' + value.color + '"></span>' + value.name + '</a>';
    }
    },
    {
    name: '__slot:handle',
    title: Craft.t('estimator-wizard', 'Handle')
    },
    {
    name: 'isDefault',
    title: Craft.t('estimator-wizard', 'Default Status'), callback: function(value) {
    if (value) {
    return '<span data-icon="check" title="' + Craft.t('estimator-wizard', 'Yes') + '"></span>';
    }
    return '';
    }
    }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#lead-statuses-admin-table',
        deleteAction: 'estimator-wizard/lead-statuses/delete',
        deleteConfirmationMessage: Craft.t('estimator-wizard', "Are you sure you want to delete the Lead Status “{name}”?"),
        deleteSuccessMessage: Craft.t('estimator-wizard', "Lead status deleted"),
        deleteFailMessage: Craft.t('estimator-wizard', "Unable to delete status. Status must not be used on existing entries."),
        emptyMessage: Craft.t('estimator-wizard', 'No lead statuses exist yet.'),
        minItems: 2,
        padded: true,
        reorderAction: 'estimator-wizard/lead-statuses/reorder',
        reorderSuccessMessage: Craft.t('estimator-wizard', 'Lead statuses reordered.'),
        reorderFailMessage: Craft.t('estimator-wizard', 'Couldn’t reorder statuses.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
