{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = 'Edit Lead Estimate'|t('estimator-wizard') %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'estimator-wizard/lead-estimates/save-lead-estimates/' %}

{% set crumbs = [
    { label: "Lead Estimates"|t('estimator-wizard'), url: url('estimator-wizard/leads/index') }
] %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit first">
            <input type="hidden" name="action" value="estimator-wizard/lead-estimate/save-lead-estimate">
            {{ redirectInput('estimator-wizard/leads/index') }}
            <input type="hidden" id="leadId" name="leadId" value="{{ lead.id is defined ? lead.id : '' }}">

            <input type="submit" class="btn submit" value="{{ 'Save'|t('estimator-wizard') }}">
            {% if leadId != null %}
                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <hr>
                    <ul>
                        <li><a class="formsubmit error"
                                data-action="estimator-wizard/leads/delete-lead"
                                data-confirm='{{ "Are you sure you want to delete this lead and all of it's data?"|t('estimator-wizard') }}'
                                data-redirect="{{ 'estimator-wizard/leads'|hash }}">{{ "Delete"|t('estimator-wizard') }}</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block details %}

    <div class="meta">
        {% set trafficSource = "<h6>" ~ lead.trafficSource ~ "</h6>" %}
        {{ forms.field({
            label: "Traffic Source"|t('estimator-wizard'),
        }, trafficSource) }}
       {# {% set pathBasePrice = "<h6>" ~ lead.pathBasePrice ~ "</h6>" %}

        {{ forms.field({
            label: "Path"|t('estimator-wizard'),
        }, pathName) }}

        {{ forms.field({
            label: "Base Price"|t('estimator-wizard'),
        }, pathBasePrice) }}

        {{ forms.lightswitchField({
            label: "Previous Customer"|t('estimator-wizard'),
            name: 'contactCustomer',
            on: lead.contactCustomer,
            first: false
        }) }} #}

        {{ forms.selectField({
            label: "Lead Status"|t('estimator-wizard'),
            id: 'statusId',
            name: 'statusId',
            value: lead.statusId,
            options: statuses,
            errors: lead.getErrors('statusId')
        }) }}
    </div>
    <hr>
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Submitted"|t('estimator-wizard') }}</h5>
            <div class="value">{{ lead.dateCreated|datetime('short') }}</div>
            <h5 class="heading">{{ "Updated"|t('estimator-wizard') }}</h5>
            <div class="value">{{ lead.dateUpdated|datetime('short') }}</div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

    <div id="fields">
        <input type="hidden" name="id" value="{{ lead.id }}" />
        <input type="hidden" name="contact[name]" value="{{ lead.contactName }}" />
        <input type="hidden" name="contact[email]" value="{{ lead.contactEmail }}" />
        <input type="hidden" name="contact[phone]" value="{{ lead.contactPhone }}" />
        <input type="hidden" name="contact[zipCode]" value="{{ lead.contactZipCode }}" />
        <input type="hidden" name="contact[previousCustomer]" value="{{ lead.contactCustomer }}" />
        <input type="hidden" name="path[label]" value="{{ lead.pathLabel }}" />
        <input type="hidden" name="path[price][low]" value="{{ lead.pathPrice.low }}" />
        <input type="hidden" name="path[price][high]" value="{{ lead.pathPrice.high }}" />
        <input type="hidden" name="data" value="{{ lead.results }}" />
        <input type="hidden" name="trafficSource" value="{{ lead.trafficSource }}" />

        <h2>Lead Contact</h2>
        <p><strong>Name: </strong> {{ lead.contactName }}</p>
        <p><strong>Email: </strong> {{ lead.contactEmail }}</p>
        <p><strong>Phone: </strong> {{ lead.contactPhone }}</p>
        <p><strong>ZipCode: </strong>{{ lead.contactZipCode }} </p>
        <p><strong>Previous Customer: </strong>{{ lead.contactCustomer == 1 ? 'Yes' : 'No' }} </p>
        <br>
        <h2>Lead Path:  {{ lead.pathLabel }}</h2>
        {% for item in lead.steps %}
            <h4>Step: {{ item.label }}</h4>
            <p><strong>{{ item.value }}: </strong> {{ item.price.low }}-{{ item.price.high }}</p>
            <hr>
        {% endfor %}
        <h2>ESTIMATED TOTAL</h2>
        <p>${{ lead.estimateLow }} - ${{ lead.estimateHigh }}</p>
        <hr>
        <br>
        
        {{ forms.textareaField({
            label: 'Notes',
            instructions: '',
            id: 'notes',
            name: 'notes',
            rows: 10,
            value: lead.notes })
        }}

        <hr>
        <br>

        <h2>Status Change Log</h2>
        {% set logs = craft.estimatorWizard.leadLog(lead.id) %}
        <table>
            <thead>
                <td>Status</td>
                <td>User</td>
                <td>Date</td>
            </thead>
            <tbody>
            {% for item in logs %}
                <tr>
                    {% set user = craft.users().id(item.authorId).one() %}
                    {% set status = craft.estimatorWizard.getStatusByHandle(item.status) %}
                    <td><span class="status {{ status.color }}"></span> {{ status.name }}</td>
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ item.dateCreated|datetime('short') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}